fastapi[standard]
loguru
matplotlib
networkx
numpy
opencv-python
pickles
Pillow
pydantic
pymongo
PyYAML
ruff
scipy
tqdm
typing
typing_extensions
uvicorn
python-dotenv
uvicorn[standard]
scikit-learn
minio
PyQt6
ruff
grpcio
grpcio-tools